*{
    background-color: antiquewhite;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}
header{
    display: flex;
}
.header1{
    flex:3;
    text-align: left;
    display: flex;
}
.logo{
    flex: 1;
}
.search-container{
    flex: 4;
    padding-top: 20px;
}
.header2{
     flex:5;
     text-align: center;
     padding: 10px;
}
.header3{
     flex:2;
     text-align: right;
     padding: 10px;
}

main{
    display: flex;
}
.s1{
    flex: 1;
    border: 2px solid white;
  
}
details{
    border-bottom: 2px solid blanchedalmond;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(148, 148, 207);
}
summary{
    text-decoration: underline;
    background-color: rgb(218, 125, 125);
}
summary:hover{
    color: rgb(255, 233, 36);
}
details:hover{
    background-color: aqua;
}
.s2{
    flex: 3;
    border: 5px solid rgb(241, 132, 132);
    padding: 10px;
}
#img1{
    height: 300px;
    width: 500px;
    place-items: center;
    display: block;
    margin: 0  auto;
}
.s3{
    flex: 1;
    border: 5px solid rgb(255, 255, 255);
    text-align: center;
    color: bisque;
}